daemon/References/macOS/obfsproxy/**/* linguist-vendored
daemon/References/Windows/OpenVPN/obfsproxy/**/* linguist-vendored

daemon/References/Windows/OpenVPN/**/*.inf binary

# Use LS line endings for all *.sh files (Linux shell scripts)
*.sh text eol=lf
daemon/References/Linux/etc/client.down text eol=lf
daemon/References/Linux/etc/client.up text eol=lf