.DS_Store
daemon/References/Windows/OpenVPN/obfsproxy/obfs4proxy.exe
/daemon/References/Linux/_deps/*
daemon/References/Windows/dnscrypt-proxy/
daemon/References/Windows/etc/dnscrypt-proxy/
daemon/daemon
daemon/daemon.exe
daemon/References/Windows/Native Projects/IVPN KEM Helper/.*
daemon/References/Windows/Native Projects/IVPN KEM Helper/x64/*
daemon/References/Windows/kem-helper.exe
daemon/References/common/kem-helper/_out_linux/
daemon/References/common/kem-helper/_out_macos/
