@import "./settings";
@import "./transitions";

$base-font-family: "MainIVPNFont", "SF Pro Text", "Helvetica", "sans-serif";

$base-text-color: #2A394B;
$base-text-color-details: rgba($base-text-color, 0.5);// #8494A5;

.left_panel_element {
    margin-left: 20px;
    margin-right: 20px;
}

.left_panel_block {
    @extend .left_panel_element;
    min-height: 72px;
    max-height: 72px;
}

.flexColumn {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.flexRowRestSpace {
    flex-grow: 1;
}

.flexRow {
    display: flex;
    align-items: center;
}

.flexRowAlignTop {
    display: flex;
    align-items: normal;
}

.flexRowSpace {
    @extend .flexRow;
    justify-content: space-between;
}

button.noBordersBtn {
    border: none;
    background-color: inherit;
    outline-width: 0;
    cursor: pointer;
}

button.noBordersTextBtn {
    border: none;
    background-color: inherit;
    outline-width: 0;
    cursor: pointer;
    padding: 0px;
}

button.link {
    @extend .noBordersTextBtn;
    color: #398FE6;
  }

  div.scrollableColumnContainer {
    display: flex;
    flex-flow: column;
    overflow: scroll;
  }

div.scrollableColumnContainer::-webkit-scrollbar {
    display: none; // do not show scroll-bars
}

div.arrowRightSimple {
    border: solid #8b9aab;
    border-width: 0 1px 1px 0;
    display: inline-block;
  
    padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

label.selectable {
    -webkit-user-select: text
}

// btnScrollDown
$shadow: 0px 3px 1px rgba(0, 0, 0, 0.06), 0px 3px 8px rgba(0, 0, 0, 0.15);
button.btnScrollDown {
    position: fixed;
  
    z-index: 7;
  
    bottom: 0;
    margin-bottom: 8px;
  
    left: calc(320px / 2 - 12px);
    //margin-left: calc(50% - 12px);
  
    width: 24px;
    height: 24px;
  
    padding: 0px;
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
    outline-width: 0;
    cursor: pointer;
  
    box-shadow: $shadow;
  
    // centering content
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button.btnScrollDown:hover {
    background-color: #f0f0f0;
  }