div.settingsLeftPanelHeader{
    padding-bottom: 56px !important;
}

div.settingsLeftPanel {
    padding-top: 27px !important;
}

div.settingsHeader {
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 24px !important;
}