div.horizontalLine {
    background: rgba(139, 154, 171, 0.17);
    height: 1px;
    border:0px;
    width: inherit;

    margin-left: auto;
    margin-right: auto;
}

// === HOP BUTTONS ===
div.hopButtonsBase {
    min-height: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.hopButtonsSeparatorBase {
    width: inherit;
}

button.hopButtonBase {
    height: 100%;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.5px;
  
    border: none;
    background-color: inherit;
  
    cursor: pointer;
    display: inline-block;
    outline-width: 0;
  
    opacity: 0.5;
  }
button.hopButtonActiveBase {
    @extend .hopButtonBase;
    font-weight: 500;
    opacity: 1;
  }

  // === INPUT ===
input.styledBase {
    width: 100%;
    box-sizing:border-box;
    padding-left: 10px;
    padding-right: 10px;
}