// buttons on\off state
div.serversButtonsHeader {
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 4px;
}

div.serversButtonsSpace {
    width: 50px;
    margin: 0px;
    padding: 0px;
}

button.stateButtonOff {
    text-transform: uppercase;
    margin-top: 16px;
    border: none;
    background-color: inherit;
    outline-width: 0;
    cursor: pointer;
  
    width: 100%;
    height: 38px;
  
    font-size: 20px;
    line-height: 24px;    
    text-transform: capitalize;
}

button.stateButtonOn {
    @extend .stateButtonOff;
    border-bottom: 2px solid #449cf8;
}