<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="WintunInstaller_x86_64" Language="1033" Version="1.0.0.0" Manufacturer="www.ivpn.net" UpgradeCode="b2a2baff-b6e8-4c75-a247-e73bcd2ecded">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform='x64'/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="WintunInstaller_x86_64" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <!--Wintun driver-->
    <DirectoryRef Id="INSTALLFOLDER">
      <Merge Id="WintunMergeModule" Language="0" DiskId="1" SourceFile=".deps\wintun-amd64.msm" />
    </DirectoryRef>
    <Feature Id="WintunFeature" Title="Wintun" Level="1">
      <MergeRef Id="WintunMergeModule" />
    </Feature>

    <!--Do not show in Add\Remove programs-->
    <Property Id="ARPSYSTEMCOMPONENT" Value="1" />
  
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="WintunInstaller_x86_64" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>
