  //		regular - 400
  //		medium  - 500
  //		bold    - 600
  // 		heavy   - 800
  
@font-face {
    font-family: "MainIVPNFont";
    src: url("SF-Pro-Text-Heavy.woff");
    font-weight: 800;
  }
  @font-face {
    font-family: "MainIVPNFont";
    src: url("SF-Pro-Text-Bold.woff");
    font-weight: 600;
  }
  
  @font-face {
    font-family: "MainIVPNFont";
    src: url("SF-Pro-Text-Medium.woff");
    font-weight: 500;
  }
  
  @font-face {
    font-family: "MainIVPNFont";
    src: url("SF-Pro-Text-Regular.woff");
    font-weight: 400;
  }
