  //		regular - 400
  //		medium  - 500
  //		bold    - 600
  // 		heavy   - 800
  
  @font-face {
    font-family: "MainIVPNFont";
    src: url("SegoeUI-Bold.woff");
    font-weight: 600;
  }
  
  @font-face {
    font-family: "MainIVPNFont";
    src: url("SegoeUI-SemiBold.woff");
    font-weight: 500;
  }
  
  @font-face {
    font-family: "MainIVPNFont";
    src: url("SegoeUI.woff");
    font-weight: 400;
  }